.checkbox
	input(
		type='checkbox'
		name='choose')
	span Можно курить
	br
	input(
		type='checkbox'
		name='choose'
		checked)
	span Можно с питомцами
	br
	input(
		type='checkbox'
		name='choose'
		checked)
	span Можно пригласить гостей
	br
	span.end (до 10 человек)